@addTagHelper  "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name= "viewport" content= "width=device-width" />
    <title>title</title>
</head>
<body>
<div>    
    <a asp-action="Form">Go to Form</a>
    
</div>
</body>
</html>